# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/

# IDE stuff
.vscode/
.idea/

# Outputs
outputs/

# Dataset
data/
!data/.keep
downloads/

# Model weights
weights/
*.pth
*.pt

# GroundingDINO source (if cloned)

# OS files
.DS_Store
Thumbs.db

desktop.ini
test.py
groundingdino_lib/setup.py

# Experiment results
*.csv
*_result/
ResNet_result/
baseline_result/
fullsampled_baseline_result/
yolo_result/

# Image outputs
*.jpg
*.png
!prompts_test/*.png