torch>=1.10.0
torchvision>=0.11.0
torchaudio>=0.10.0
transformers
addict
yapf
timm
supervision==0.6.0
pycocotools
bert-score
einops
scipy
opencv-python
numpy
pandas
Pillow
tqdm
scikit-learn
termcolor
yacs